<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">

        <p>WOTD: <a id="dynlink">{{- site.description | escape -}}</a> :)</p>

        <script>
            var words = ["combination", "union", "merger", "blend", "mixture", "mingling", "compound", "fusion", "marriage", "weave", "coalescence", "synthesis", "composite", "composition", "concoction", "amalgam"];
            var today = new Date();
            var word = words[Math.floor(today.getDate() / 31 * words.length)];
            document.getElementById("dynlink").setAttribute("href", "https://www.google.com/search?q=" + word);
        </script>
      </div>
    </div>

  </div>

</footer>
